/* COMMON STYLES */

*,
*:before,
*:after {
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    background-color: #ffffff;
    color: #434455;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

a {
    text-decoration: none;
}

ul,
ol {
    list-style: none;
    padding: 0;
    margin: 0;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* HEADER */

.page-header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.page-logo {
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    padding: 17px 0;
}

.logo-text-navy {
    color: #2e2f42;
}

.menu {
    display: flex;
    gap: 40px;
}

.page-nav {
    display: flex;
    align-items: center;
    flex-grow: 1;
}

.menu-link {
    display: block;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding: 24px 0;
    color: #2e2f42;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.current {
    position: relative;
    color: #404bbf;
}

.current::after {
    position: absolute;
    left: 0;
    bottom: -1px;
    content: '';
    border-radius: 2px;
    width: 100%;
    height: 4px;
    background-color: #404bbf;
}

.menu-link:hover,
.menu-link:focus {
    color: #404bbf;
}

.header-address {
    font-style: normal;
}

.company-adress {
    display: none;
}

.company-address-link {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.company-address-link:hover,
.company-address-link:focus {
    color: #404bbf;
}

.menu_open_button {
    padding: 0;
    cursor: pointer;
    background-color: transparent;
    border: none;
    width: 24px;
    height: 24px;
    line-height: 0;
}

/* MOBILE MENU */

.mobile_menu {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    visibility: hidden;
    opacity: 0;
    position: none;
    padding: 24px 24px 40px 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.menu_close_button {
    display: block;
    margin-left: auto;
    margin-bottom: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile_nav_list {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.mobile_menu_nav {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #2e2f42;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile_menu_nav:hover,
.mobile_menu_nav:focus {
    color: #404bbf;
}

.mobile_contacts {
    font-style: normal;
}

.mobile_contacts_list {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-bottom: 48px;
}

.mobile_contacts_link {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile_contacts_link:hover,
.mobile_contacts_link:focus {
    color: #404bbf;
}

.mobile_media {
    display: flex;
    gap: 40px;
}

.mobile_link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #4d5ae5;
    fill: #f4f4fd;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* HERO */

.hero-section {
    background-color: #2e2f42;
        padding: 72px 0;
        margin: 0 auto;
        background-image: linear-gradient(to bottom,
                rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)),
            url(../images/office-work-mob.jpg);
        max-width: 1440px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
    
    @media screen and (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 2dppx),
    (min-resolution: 192dpi) {
        .banner {
            background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                    rgba(46, 47, 66, 0.7)),
                url(../images/office-work-mob-x2.jpg);
        }
}

.main-header {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #ffffff;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 72px;
    max-width: 216px;
}

.order-button {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    color: #ffffff;
    background-color: #4d5ae5;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
    padding: 16px 32px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    min-width: 169px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.order-button:hover,
.order-button:focus {
    background: #404bbf;
}

/* VALUES */

.values-section {
    padding: 96px 0;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.values-list {
    display: flex;
    flex-direction: column;
    gap: 72px;
}

.icon-section-two {
    display: none;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    width: 264px;
    height: 112px;
    background: #f4f4fd;
    padding-top: 24px;
    padding-bottom: 24px;
    justify-content: center;
    align-items: center;
    margin-bottom: 8px;
}

.values-list-header {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 8px;
}

.values-paragraph {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

/* TEAM */

.team-section {
    background-color: #f4f4fd;
    padding: 96px 0;
}

.team-section-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 72px;
}

.team-member-list {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 72px;
}

.team-member-list-item {
    background-color: #ffffff;
    width: calc((100% - 72px) / 4);
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
}

.team-member-list-img {
    margin: 0 auto;
}

.team-structure {
    padding: 32px 0;
}

.team-member-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 8px;
    color: #2e2f42;
}

.team-member-role {
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;
    padding-bottom: 8px;
}

.social-media {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.list-link .social-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #4d5ae5;
    fill: #f4f4fd;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.list-link .social-link:hover {
    background-color: #404bbf;
}

.list-link .social-link:focus {
    background-color: #404bbf;
}

/* PORTFOLIO */

.portfolio-section {
    border-top: none;
    padding: 96px 0;
}

.portfolio-title {
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 72px;
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    gap: 48px;
}

.portfolio-list-item {
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.overlay {
    position: relative;
    overflow: hidden;
}

.portfolio-list-item:hover {
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.portfolio-list-img {
    max-width: 100%;
    height: auto;
    margin: 0 auto;
}

.portfolio-list-item:hover .text-overlay {
    transform: translatey(0);
}

.text-overlay {
    background-color: #4d5ae5;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    padding: 40px 32px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-text-structure {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.portfolio-item-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.portfolio-item-paragraph {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

/* FOOTER */

.page-footer {
    background: #2e2f42;
    padding: 96px 0;
}

.footer-container {
    display: flex;
    flex-direction: column;
}

.logo-footer-box {
    margin-right: 72px;
}

.footer-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    margin-bottom: 16px;
}

.footer-tagline {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #ffffff;
    max-width: 264px;
}

.footer-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #ffffff;
    margin-bottom: 16px;
}

.social-links-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    margin-bottom: 72px;
}

.footer-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.socials-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #4d5ae5;
    fill: #f4f4fd;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.socials-footer:hover,
.socials-footer:focus {
    background-color: #31d0aa;
}

.footer_form_container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-left: auto;
}

.form_cta {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
    margin-bottom: 16px;
}

.footer_form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 16px;
}

.footer_input {
    border: 1px solid #ffffff;
    color: #ffffff;
    opacity: 0.6;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    width: 288px;
    height: 40px;
    background-color: transparent;
    padding-left: 16px;
    outline: transparent;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
}

.footer_input::placeholder {
    color: #ffffff;
}

.footer_form_button {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    cursor: pointer;
    color: #ffffff;
    background-color: #4d5ae5;
    border-radius: 4px;
    border: none;
    padding: 8px 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 165px;
    height: 40px;
}

.footer_button_icon {
    fill: #ffffff;
    margin-left: 16px;
}

/* MODAL */

.backdrop {
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    position: fixed;
    top: 0;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
        visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is_open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.modal {
    position: absolute;
    /* width: 408px; */
    /* min-height: 584px; */
    width: 288px;
    min-height: 623px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
        0 2px 1px 0 rgba(0, 0, 0, 0.2);
    background: #fcfcfc;
    border-radius: 4px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* padding: 72px 24px 24px; */
    padding: 72px 16px 16px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal_close_btn {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    padding: 0;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    margin-left: auto;
    cursor: pointer;
    margin-bottom: 24px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal_close_icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal_close_btn:hover,
.modal_close_btn:focus {
    background-color: #404bbf;
    border: none;
}

.modal_close_btn:hover>.modal_close_icon,
.modal_close_btn:focus>.modal_close_icon {
    fill: #ffffff;
}

.modal_title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 16px;
}

.form_field {
    margin-bottom: 8px;
}

.form_label {
    display: block;
    margin-bottom: 4px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
}

.form_label_wrap {
    position: relative;
}

.form_input {
    width: 100%;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    height: 40px;
    padding-left: 38px;
    background-color: transparent;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form_input:focus {
    border-color: #4d5ae5;
}

.form_input:focus+.form_icons {
    fill: #4d5ae5;
}

.form_icons {
    fill: #2e2f42;
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form_field_text {
    margin-bottom: 16px;
}

.form_text_input {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    width: 100%;
    height: 120px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    outline: transparent;
    resize: none;
    padding: 8px 16px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form_text_input::placeholder {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
}

.form_text_input:focus {
    border-color: #4d5ae5;
}

.form_field_checkbox {
    margin-bottom: 24px;
}

.modal_form_btn {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    cursor: pointer;
    color: #ffffff;
    background-color: #4d5ae5;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
    padding: 16px 32px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    min-width: 169px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form_label_checkbox {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 8px;
}

.form_label_span {
    width: 16px;
    height: 16px;
    border-radius: 2px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
    fill: transparent;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border 250ms cubic-bezier(0.4, 0, 0.2, 1),
        fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form_checkbox_input:checked+.form_label_checkbox>.form_label_span {
    background-color: #404bbf;
    border: none;
    fill: #f4f4fd;
}

.modal_link {
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.04em;
    color: #4d5ae5;
    text-decoration: underline;
}

.text_span {
    display: block;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    align-items: center;
}

/* 768 */

@media screen and (min-width: 768px) {

    /* HEADER */
    .container {
        width: 768px;
    }

    .page-header {
        box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
            0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
    }

    .page-logo {
        margin-right: 120px;
    }

    .menu_open_button {
        display: none;
    }

    .menu {
        display: flex;
    }

    .company-adress {
        display: flex;
        flex-direction: column;
        gap: 12px;
    }

    .company-address-link {
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.04em;
        color: #434455;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    /* HERO */
    .hero-section {
        padding: 122px 0;
        background-image: linear-gradient(to bottom,
                rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)),
            url(../images/office-work-tab.jpg);
    }

    @media screen and (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 2dppx),
    (min-resolution: 192dpi) {
        .banner {
            background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                    rgba(46, 47, 66, 0.7)),
                url(../images/office-work-tab-x2.jpg);
        }
    }

    .main-header {
        font-weight: 700;
        font-size: 56px;
        line-height: 1.07;
        margin-bottom: 36px;
        max-width: 496px;
    }

    /* VALUES */
    .values-list {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 72px 24px;
    }

    .values-list-item {
        width: calc((100% - 24px) / 2);
    }

    .values-list-header {
        text-align: left;
    }

    /* TEAM */
    .team-section {
        padding: 97px 0;
    }

    .team-member-list {
        flex-wrap: wrap;
        flex-direction: row;
        gap: 64px 24px;
    }

    .team-member-list-item {
        width: calc((100% - 24) / 2);
    }

    /* PORTFOLIO */
    .portfolio-list {
        gap: 72px 24px;
    }

    .portfolio-list-item {
        width: calc((100% - 24) / 2);
        width: 356px;
        height: 420px;
    }

    /* FOOTER */
    .page-footer {
        padding: 96px 0;
    }

    .footer_container {
        padding-left: 108px;
    }

    .logo-footer-box {
        display: flex;
        gap: 24px;
    }

    .footer-logo {
        justify-content: left;
    }

    .footer_text {
        margin-right: auto;
    }

    .footer_form_container {
        align-items: center;
        flex-direction: row;
        flex-wrap: wrap;
        width: 453px;
        justify-content: left;
        margin-left: 0;
    }

    .footer_form {
        flex-direction: row;
        gap: 24px;
    }

    .footer_input {
        width: 264px;
    }

    /* MODAL */
    .modal {
        width: 408px;
        min-height: 584px;
        padding: 72px 24px 24px;
    }
}

/* 1158 */
@media screen and (min-width: 1158px) {

    /* HEADER */
    .container {
        width: 1158px;
        padding: 0 15px;
    }

    .page-header {
        margin-right: 76px;
    }

    .company-adress {
        flex-direction: row;
        gap: 40px;
    }

    .company-address-link {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
    }

    /* HERO */
    .hero-section {
        padding: 188px 0;
        background-image: linear-gradient(to bottom,
                rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)),
            url(../images/office-work.jpg);
    }

    @media screen and (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 2dppx),
    (min-resolution: 192dpi) {
        .banner {
            background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                    rgba(46, 47, 66, 0.7)),
                url(../images/office-work-x2.jpg);
        }
    }

    .main-header {
        font-size: 56px;
        line-height: 1.07;
        letter-spacing: 0.02em;
        margin-bottom: 48px;
        max-width: 496px;
    }

    /* VALUES */
    .values-section {
        padding: 120px 0;
    }

    .values-list {
        gap: 24px;
    }

    .values-list-item {
        width: calc((100% - 3 * 24px) / 4);
    }

    .qualities_icons_container {
        display: flex;
    }

    .values-list-header {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        text-align: left;
    }

    /* TEAM */
    .team-section {
        padding: 120px 0;
    }

    .team-member-list {
        flex-direction: row;
        gap: 24px;
    }

    .team-member-list-item {
        width: calc((100% - 3 * 24) / 4);
    }

    /* PORTFOLIO */
    .portfolio-section {
        padding: 120px 0;
    }

    .portfolio-list {
        gap: 48px 24px;
    }

    .portfolio-list-item {
        width: calc((100% - 4 * 24) / 6);
        width: 360px;
        height: 420px;
    }

    /* FOOTER */
    .page-footer {
        padding: 100px 0;
    }

    .footer_container {
        align-items: baseline;
        justify-content: flex-start;
        flex-direction: row;
    }

    .logo-footer-box {
        margin-right: 120px;
    }

    .footer-logo {
        display: inline-block;
    }

    .footer-icons {
        display: block;
    }

    .footer_form_container {
        display: block;
        margin-left: auto;
    }

    .footer_input {
        opacity: inherit;
    }
}